<div class="container">
    <div class="text-center">
        <h3>Donut delivery so excelent it could only be from space</h3>
        
        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-image text-center navbar-shadow" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner carousel-outline darken" role="listbox">
                <div class="carousel-item item active">
                    <%= image_tag("Donut-Wallpaper-1.jpg", alt: "First Slide", :class => "d-block carousel-image img-fluid darken") %>
                </div>
                <div class="carousel-item item">
                    <%= image_tag("Donut-Wallpaper-2.jpg", alt: "First Slide", :class => "d-block carousel-image img-fluid darken") %>
                </div>
                <div class="carousel-item item">
                    <%= image_tag("Donut-Wallpaper-3.jpg", alt: "First Slide", :class => "d-block carousel-image img-fluid darken") %>
                </div>
            </div>
        </div>
    </div> 
</div>
