
<div class="container">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item item active">
                <%= image_tag("Donut-Wallpaper-1.jpg", alt: "First Slide", :class => "d-block img-fluid") %>
            </div>
            <div class="carousel-item item">
                <%= image_tag("Donut-Wallpaper-2.jpg", alt: "First Slide", :class => "d-block img-fluid") %>
            </div>
            <div class="carousel-item item">
                <%= image_tag("Donut-Wallpaper-3.jpg", alt: "First Slide", :class => "d-block img-fluid") %>
            </div>
        </div>
    </div>
</div>