<div id="carouselExampleSlidesOnly" class="carousel slide carousel-image" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner darken" role="listbox">
        <div class="carousel-item item active">
            <%= image_tag("Donut-Wallpaper-1.jpg", alt: "First Slide", :class => "d-block carousel-image img-fluid darken") %>
        </div>
        <div class="carousel-item item">
            <%= image_tag("Donut-Wallpaper-2.jpg", alt: "First Slide", :class => "d-block carousel-image img-fluid darken") %>
        </div>
        <div class="carousel-item item">
            <%= image_tag("Donut-Wallpaper-3.jpg", alt: "First Slide", :class => "d-block carousel-image img-fluid darken") %>
        </div>
    </div>
    
</div>
